#status_checkbox
  height: 20px
  width: 20px

#profile
  text-align: left

#status
  text-align: left
  border-style: solid
  border-color: #eee
  border-width: 1px 0px 1px 1px
  float: right
  padding: 4px
  -webkit-border-radius: 5px 0px 0px 5px
  -moz-border-radius: 5px 0px 0px 5px
  border-radius: 5px 0px 0px 5px

