@import '_bootstrap.scss'




#wrapper
  margin-top: 60px

a.user
  font-size: 16px
  font-weight: bold
  color: #444
  text-decoration: none
  border-bottom: 0
  &:hover
    color: #444
    text-decoration: underline

.post, .friend    
  clear: both
  margin-top: 10px
  padding-bottom: 5px
  border-bottom: #ccc 1px solid
  .ava
    width: 64px
    height: 64px
    float: left
  
  .body
    margin-left: 64px
    
    small
      color: #999


/*Fixing input height. Forever*/
input[type="text"], input[type="password"]
  height: 28px