%img{ :src => '/images/kitty.jpg' }

- if current_user != @user && !current_user.wanted_friends.include?(@user) 
  = link_to "Add friend", friendship_request_path(:id => @user.id), :class => 'btn primary'