- title @user.name + " " + @user.surname
- if (current_user == @user)
  - subtitle "(It's you)"

- sidebar "Sidebar will be there"

%section
  %dl
    - if @user.date_of_birth
      %dt Date of birth:
      %dd= @user.date_of_birth

    - if @user.school && !@user.school.empty?
      %dt School:
      %dd= @user.school

    - if @user.university && !@user.university.empty?
      %dt University:
      %dd= @user.university

