- title @user.name + " " + @user.surname
- if (current_user == @user)
  - subtitle "(It's you)"

- sidebar "Sidebar will be there"

%h2
  New Post For
  = link_to @user.name + " " + @user.surname, user_path( @user )
%br/

= render :partial => "form"

